*~
*pyc
.DS_Store
.venv
venv
.idea
.ipynb_checkpoints/
__pycache__
code/databases/sqlite/*.sqlite
code/databases/sqlite/people/*.sqlite
code/databases/alchemy/instance
docker/getting-started
backup.sh
